{% extends 'base.html' %}

{% block extraheaders %} 
{% endblock %}

{% block title %} Home {% endblock %}


{% block content %}
<br></br>
<h1>    Wellcome Home!</h1>
<p> This web page is developed as a answer for Dadepardazesaba company task. In this Web page You can search between mobiles of our warehouse.(7 samples)</p>
<p> for now you can search based on nationality and brand name, also you can check if natinality and country (that contains factory) are equal</p>

<p>It seems for next step we should add user registeration with different accebilitis, some users can add or mofify database and others just can search</p>
<br></br>

<h2>  Fill This Form to Search in Mobiles as You Wish, Easily!</h2>
<br></br>

<form action="{% url 'mobiles:mobiles' %}" method="get">
    <p> Enter nationality of mobile like: Korea, China, ... </p>
    <input name="nationality" type="text" placeholder="nationality ">
    <br></br>
    <p> Enter the brand name of mobile like:Sumsung, Apple, ... </p>
    <input name="brand" type="text" placeholder="brand">
    <br></br>
    <p> If you want that your phone hase same nationality and country maker check this bottom:</p>
    <input name="CountryEqNational" type="checkbox" value='Yes'>
    
    
    <br></br>

    <input type="submit" value='Search!'>
  </form>

{% endblock %}