{% extends 'base.html' %}

{% block extraheaders %} 
{% endblock %}

{% block title %} Search in Mobiles {% endblock %}


{% block content %}

<h2>  Fill This Form to Search in Mobiles as You Wish, Easily!</h2>
<br></br>

<form action="{% url 'mobiles:search_results' %}" method="get">
    <p> Enter nationality of mobile like: Korea, China, ... </p>
    <input name="nationality" type="text" placeholder="nationality ">
    <br></br>
    <p> Enter the brand name of mobile like:Sumsung, Apple, ... </p>
    <input name="brand" type="text" placeholder="brand">
    <br></br>
    <p> If you want that your phone hase same nationality and country maker check this bottom:</p>
    <input name="CountryEqNational" type="checkbox" value='Yes'>
    <br></br>
    <input type="submit" value='Search!'>
  </form>

{% endblock %}